body {
	background-color: #F8F8F8;
}

.container {
	width: 100%;
}

.navbar-inner {
	width: 96%;
	margin: 10px auto;
}

.navbar .nav > li > a:hover {
	color: #DA4B39;
}

/*--------------- Login Screen --------------*/ 
#login {
	padding-top: 20px;
	margin: 150px auto;
	width: 450px;
	background-color: #FFF;
}

#login h2{
	font-family: 'Raleway', sans-serif;
	margin-left: 40px;
	font-size: 40px;
}

a:hover {
	color: black;
}
/*.controls {
	text-align: center;
}*/

.sign-in {
	margin: auto;
	width: 245px;
}

#sign-in-out {
	margin-top: 11px;
}

input {
	height: 30px;
}

#devise_links {
	padding: 10px;
	text-align: center;
}

a:hover {
	color: #DA4B39;
	text-decoration: none;
}

#devise_links a {
	color: #DA4B39;
	text-decoration: none;
}

#devise_links a:hover {
	color: #2CBBFF;
}

.form-horizontal .controls {
	margin-left: 100px;
}

.form-horizontal .control-label {
	width: 0;
}

.btn-block {
	width: 230px;
}

#product_list {
	margin: 30px;
}

/*--------------- Product Table -----------------*/
.table-hover tbody tr:hover > td {
	background-color: #FFEFE4;
}

.button2 a {
	color: white;
	background-color: #888;
	padding: 9px;
	border-radius: 3px;
}

.button2 a:hover {
	background-color: #DA4B39;
}

/*-----------------Product Display ----------------*/
.product-container {
	width: 800px;
	margin: auto;
}

.product-container img {
	float: left;
	margin-right: 20px;
}

.product-container h3, .product-info td {
	font-family: 'Raleway', sans-serif;
}

.product-info td {
	font-size: 17px;
	line-height: 40px;
}


.product-info p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	margin: 20px;
}

.product-info .data {
	font-weight: bold;
	font-size: 25px;
}